<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Account</title>
    <link rel="stylesheet" href="../static/style.css" th:href="@{/style.css}">
    <link rel="icon" href="../static/favicon.png" th:href="@{/favicon.png}">

</head>


<body>

<header>
    <div class="nav-container">
        <h1>
            <img src="../static/logo.png" th:src="@{/logo.png}" alt="Virtual Wallet Logo" class="logo">
            Virtual Wallet
        </h1>
        <nav>
            <ul>
                <li><a th:href="@{/}">Home</a></li>
                <span> | </span>
                <li><a th:href="@{/about}" class="active">About</a></li>
                <span> | </span>
                <li><a th:if="${isAuthenticated}" th:href="@{/account}" class="active">Account</a></li>
                <li><a th:unless="${isAuthenticated}" th:href="@{/auth/login}" href="#">Login</a></li>
                <li><a th:if="${isAuthenticated}" href="#" th:href="@{/auth/logout}">Logout</a></li>
            </ul>
        </nav>
    </div>
</header>

<h1 id="info">Information about your account</h1>
<hr>

<div class="account-container">
    <h2 id="h2">Update Your Account</h2>

    <div th:if="${success}" class="alert alert-success fade-in">
        <p th:text="${success}"></p>
    </div>

    <form method="post" th:action="@{/account/update}" th:object="${user}" class="form-update">
        <div class="mb-3">
            <label class="update-label">Username:</label>
            <input type="text" class="form-control" th:field="*{username}" readonly>
        </div>

        <div class="mb-3">
            <label class="update-label">Email:</label>
            <input type="email" class="form-control" th:field="*{email}" required>
        </div>

        <div class="mb-3">
            <label class="update-label">Phone Number:</label>
            <input type="tel" pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}" class="form-control" th:field="*{phoneNumber}" required>
        </div>

        <div class="mb-3">
            <label class="update-label" >New Password:</label>
            <input type="password" class="form-control" th:field="*{password}" required>
        </div>

        <button type="submit" class="btn btn-update">UPDATE ACCOUNT</button>

    </form>

    <form method="post" th:action="@{/account/delete}" class="form-delete">
    <input type="hidden" name="userId" th:value="${user.userId}">
    <button type="submit" class="btn btn-delete" onclick="return confirm('Are you sure you want to delete your account? This action cannot be undone.')">
        DELETE ACCOUNT
    </button>
</form>
</div>

<th:block th:if="${creditCard == null}">
    <div class="card-container">
        <p class="card-text">You don't have a credit card yet.</p>
        <a href="/add-credit-card" class="card-add">Add one here</a>
    </div>
</th:block>


<div class="credit-card-container">
    <div th:if="${creditCard != null}" class="credit-card">
        <div class="card-header">
            <h3>Virtual Wallet</h3>
        </div>
        <div class="card-number">
            <span th:text="${creditCard.cardNumber}"></span>
        </div>
        <div class="card-info">
            <div>
                <p><strong>Cardholder:</strong></p>
                <span th:text="${creditCard.cardHolder}"></span>
            </div>
            <div>
                <p><strong>Exp. Date:</strong></p>
                <span th:text="${creditCard.expirationDate}"></span>
            </div>
        </div>
        <div class="card-footer">
            <p><strong>CVV:</strong> <span th:text="${creditCard.checkNumber}"></span></p>
        </div>
    </div>
</div>



<footer>
    <p>&copy; 2025 Virtual Wallet. All rights reserved.</p>
</footer>

</body>
</html>