<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Blocked</title>
  <link rel="stylesheet" href="../static/style.css" th:href="@{/style.css}">
  <script src="../static/script.js" th:src="@{/script.js}" defer></script>
  <link rel="icon" href="../static/favicon.png" th:href="@{/favicon.png}">
</head>
<body id="body">

<div class="container-admin">
  <h2 class="welcome-admin">You are blocked!</h2>

  <button class="button logout-btn" onclick="location.href='/wallet'">Back</button>
</div>

</body>
</html>